In [1]:
import os, numpy as np, pandas as pd
from tqdm.auto import tqdm as tq
import warnings
warnings.filterwarnings('ignore')
path = "C:/Users/kslee/Desktop/swin_output"
path = "C:/Users/Gyuseong Lee/Desktop/convnext"
path = "C:/Users/Gyuseong Lee/Desktop/swin_output"
path = "C:/Users/kslee/Desktop/convnext_output"

path ='C:/Users/Gyuseong Lee/Desktop/outputs/all'
path ='C:/Users/Gyuseong Lee/Desktop/outputs/convnext'
path ='C:/Users/kslee/Desktop/outputs/convnext/probs'
path ='C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard'

In [2]:
files = os.listdir(path)
# files = [
#     '1203_new.csv',
#      '317_new.csv', '910_new.csv', '201_new.csv'
    
# ]
files = [path+"/"+files[idx] for idx in range(len(files))]
data = [pd.read_csv(files[idx]) for idx in range(len(files))]
columns = data[0].columns

In [3]:
print(files)

['C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/12000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/1203_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/1203_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/13000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/14000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/15000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/201_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/201_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/21000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/22000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/23000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/24000.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/260_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/260_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/270_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/270_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/280_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/280_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/290_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/290_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/317_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/317_new.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/910_con.csv', 'C:/Users/Gyuseong Lee/Desktop/outputs/convnext/hard/910_new.csv']

In [4]:
print(len(files))

24

In [5]:
labels = data[0].columns

In [6]:
labels

Index(['id', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [7]:
labels = data[0].columns
result = dict()

for idx in range(1460):
    result[idx] = {
        "id":"",
        "A0":0, 
        "A1":0, 
        "B0":0, 
        "B1":0, 
        "C0":0, 
        "C1":0, 
        "D0":0,
        "D1":0, 
        "E0":0, 
        "E1":0, 
        "F0":0, 
        "F1":0, 
        "G0":0, 
        "G1":0,
        "H0":0, 
        "H1":0, 
        "I0":0, 
        "I1":0, 
        "J0":0, 
        "J1":0, 
    }

for cur_data in tq(data):
    for idx in (range(len(cur_data))):
        cur = cur_data.loc[idx]
        for e_idx in range(len(cur)):
            if e_idx == 0:
                result[idx]["id"] = cur[e_idx]
            else:
                key = labels[e_idx]
                value = cur[e_idx]
                result[idx][f"{key}{value}"] +=1

result = pd.DataFrame(result).T
for idx in range(1, 11):
    result[labels[idx]] = np.where(result[f"{labels[idx]}0"]>result[f"{labels[idx]}1"], 0, 1)
    result
    
result = result[labels]

  0%|          | 0/24 [00:00<?, ?it/s]

In [8]:
result

              id  A  B  C  D  E  F  G  H  I  J
0     TEST_00000  0  1  0  0  0  0  1  0  1  0
1     TEST_00001  0  1  0  0  0  1  0  0  0  0
2     TEST_00002  1  1  0  1  1  1  0  1  0  1
3     TEST_00003  1  0  0  0  1  1  0  1  1  0
4     TEST_00004  0  1  0  0  1  0  0  0  0  0
...          ... .. .. .. .. .. .. .. .. .. ..
1455  TEST_01455  1  0  1  1  1  0  0  1  0  0
1456  TEST_01456  1  0  1  0  0  1  0  0  1  0
1457  TEST_01457  0  0  1  0  0  0  0  1  0  1
1458  TEST_01458  1  0  1  1  1  1  1  0  1  1
1459  TEST_01459  1  0  1  0  1  0  1  0  0  0

[1460 rows x 11 columns]

In [9]:
result.to_csv("hardvoting_final_24.csv", index=False)

In [ ]:
1e-4